num_notifications: 30
reschedule_seconds: 100
database: localhost:6379

plugins:

  github_issues:
    - name: my issues
      token: <my redacted token>
      states:
        - open
      repositories:
        - someorg/repository
        - someotherorg/repository

    - name: my other issues
      token: <my redacted token>
      states:
        - closed
      repositories:
        - thisorgtoo/foorepo

  github_pullrequests:
    - name: pull request on thisorg
      token: <my redacted token>
      states:
        - merged
      repositories:
        - thisorgtoo/foorepo

  github_actions:
    - name: actions for redis-py
      token: <my redacted token>
      repository:
        - redis/redis-py
      workflows:
        - integration.yml
        - stale-issues.yml
      branches:
        - master
