# number of rows to display in the terminal
num_notifications: 30

# how often data is refreshed (in seconds)
reschedule_seconds: 100

# the host:port combination, for the redis server address
database: localhost:6379

# multiple entries can be made of any plugin, assuming each
# begins with a name entry.
plugins:

  github:
    token: <my redacted token>
    subscriptions:
      releases:
        - name: statii releases
          repositories:
            - chayim/statii
        - name: interesting tools
          repositories:
            - redis/redis
            - django/django

      # a list of states, as those exposed by the GitHub UI. Used to filter, if they exist.
      issues:
        - name: my issues
          states:
            - open
            - closed
          repositories:
            - chayim/statii

        - name: closed issues

          # a list of states, as those exposed by the GitHub UI. Used to filter, if they exist.
          states:
            - closed

          repositories:
            - redis/redis

      # github pull requests to display
      pullrequests:
        - name: pull request on thisorg
          states:
            - merged
          repositories:
            - chayim/statii

      # github actions whose status should be tracked
      actions:
        - name: actions for redis-py
          repository: redis/redis-py

          # each workflow must be a separate file in the .github/workflows directory for the repository
          workflows:
            - integration.yml
            - stale-issues.yml
          branches:
            - master

        # actions without a branch filter
        - name: actions for redis-py
          repository: redis/redis-py

          # each workflow must be a separate file in the .github/workflows directory for the repository
          workflows:
            - integration.yml


    # update the table, when these web pages chanage
    webpages:
      - name: These google searches
        urls:
          - http://google.com/search?foo
          - http://google.com/search?bar

      # a second example, for a web page using HTTP Basic Auth
      - name: Authenticated page
        username: human
        password: being
        urls:
          - https://my.network
        
